<p>Edit Your Details Below:</p>
<form action='/channels/<%= @channel.id %>' method='POST'>
<label>Title </label><br><br><input id="title" type='text' name="title"><br><br>

	<input type="submit" value="Save Edit">