



<form action='/messages/<%=@user.id%>' method='POST'>
<br><br><br><br><br><br><br><br>
<%= @user.username%>
<%binding.pry%>

<label>Content: </label><br><br><input id="content" type='text' name="content"><br><br>

<input type="submit" value="submit">
	</form>

<% @user.messages.collect do |d|%>



<p><%= @user.username %> : <%= d.content %></p>
<%end%>





  