<h1>Login</h1>
<form action='/login' method="POST">
  <label>Username: </label><input type="text" name="username">
  <label>Password: </label><input type="password" name="password">
  <input type="submit" value="submit">
</form><br>
<p>Or if you would like to signup click below</p>
<form action="/signup" method="GET">
	<button type="submit">Signup</button>
</form>
