<!DOCTYPE html>
<html>
<head>
	<title>Messaging Application</title>
</head>
<body>
	<nav>
		<% if logged_in? %>
			<a href="/channels/new"><button type="submit">Create a new channel thread</button></a>&nbsp
			<a href="/logout"><button type="submit">LOG OUT</button></a>
			<p id='user-id'> Logged In As: <%= current_user.username %></p>
		<% else %>
			<a href='/signup'><button type="submit">Create A User</button></a>&nbsp
			<a href='/login'><button type="submit">LOG IN</button></a>
		<% end %>
	</nav>

	<div class='container'>
		<h1><a href="/">Messaging app</a></h1>
	</div>

	<div class='container'>
		<% if !@error_message.nil? %>
		<div class="alert">
			<%= @error_message %>
		<div>
		<% end %>
	</div>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
